body {
    text-align: center;
}

#picOfKitty {
  width: 500px;
  height: 700px;
}

#picOfCat {
  width: 500px;
  height:700px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
